.tst-crypto-list{
	margin-left: 200px;
	padding-top: 50px;
}

.tst-crypto-list-btn{
	display: block;
	color: #000000;
	background-color: #D3B23B;
	border: none;
	font-size: 14px;
	border-radius: 6px;
	width: 140px;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
	margin: 60px auto 0;
}

/*.tst-crypto-ul{	
	width: 400px;
    font-size: 20px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.tst-crypto-li{
	font-size: 14px;
	text-align: center;
	line-height: 40px;
	list-style-type: none;
	width: 130px;
	height: 40px;
	color: #6E7BA7;
	background: #DBE9F7;
	border-radius: 6px;
	margin: 15px 10px;
	cursor: pointer;
}

.tst-crypto-li:hover, .tst-crypto-li.active {
	background-color: #27345E;
	color: white;
}*/

.tst-crypto-item{
	margin-top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.tst-crypto-item-detail{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.tst-crypto-item-div-btn{
	text-align: center;
    width: 200px;
}

.tst-crypto-item-btn{
	color: white;
	margin: 0 15px;
	border: none;
	font-size: 14px;
	border-radius: 6px;
	height: 40px;
	cursor: pointer;
}